@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');

body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}

nav ul li{
    cursor: pointer;
    padding: 0 12px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.brand img{
    width: 44px;
    padding: 0 12px;
}

.container{
    min-height: 75vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 12px auto;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    background-image: url('bg.jpg');
    background-size: cover;
}

.songItemContainer{
    margin-top: 25px;
}

.songItem{
    display: flex;
    height: 32px;
    background-color: white;
    color: black;
    width: 100%;
    margin: 9px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.songItem img{
    width: 30px;
    margin: 0 20px;
    border-radius: 25px;
}

.timeStamp{
    display: flex;
    margin: 0 23px;
    align-items: center;
}

.timeStamp img{
    width: 20px;
    cursor: pointer;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: sticky;
    height: 60px;
    bottom: 0;
    background-color: black;
    color: white;
}

#myProgressBar{
    width: 80vw;
    height: 0.5vh;
    cursor: pointer;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.icons img {
    cursor: pointer;
    padding: 8px 7px 0 5px;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}